@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet');

body
{
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 0%, 98%);
}

h1
{
    font-weight: 600px !important;
}

#first-section-title
{
    padding-top: 10px;
    padding-bottom: 20px;
}

#greeting
{   
    color: white;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
}

#first-section
{
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("https://directlinedev.com/media/services/service/background/background_11.wide.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
}

.navbar
{
    padding-left: 20px;
    padding-right: 20px;
}

.bg-custom
{
    background-color: #01003E;
}

#about-me-title-div
{
    color: white;
    text-shadow: 3px 3px 0px rgba(1, 0, 62, 1);
    margin-left: 50px;
    padding-left: 15px;
    background-color: #4DB4C2 !important;
    padding-top: 8px;
    padding-bottom: 3px;
}

#about-me-title-section
{
    background-color: #4DB4C2;
}

#about-me-body-section
{
    background-color: #01003E;
    
}